# MATH 210

## January 13, 2017

Agenda
1. Basic Pythion
    * Numeric types: integer and float
    * Variables
    * Print functions 
    * Lists and tuples
    * List comprehensions
    * Built-in functions
2. Excercises

## I. Basic Python

Last time we saw integers and floats:

In [1]:
3*4

12

In [2]:
1/9

0.1111111111111111

### Variables

We can store data in variables using the assignment operator `=`.

In [6]:
x = 2
x

2

In [8]:
y = 4
x*y

8

In [10]:
number = 3.14

number*10

31.400000000000002

### Print Function

Notice that when several expressions are compited in a code cell, only the last expressions is displyed in out put

In [11]:
1 + 2
3 + 4
5 + 6

11

Use the `print` function to display variables, values, etc.

In [13]:
print(1 + 2)
print(3 + 4)
print(5 + 6)

#note that the numbers did not come out as an output

3
7
11

Do not use the functions as variable names. We have to restart the kernel to wipe out the variables.

### Lists and Tuples

Use sqaure brackets to define a list.

In [14]:
[1,2,3]

[1, 2, 3]

We can access the elements of a list using the square bracket index syntax.

In [15]:
a_list = [2,3,5,7,11,13,17,19,23,29]

In [23]:
a_list[0]

2

In [22]:
a_list[2]

5

In [24]:
a_list[-1]

29

In [ ]:
a_list[-2]

Notice that the index of a list starts at zero. Or use negative numbers starting at -1 from the right hand side

In [25]:
a_list[0:4]

[2, 3, 5, 7]

In [26]:
a_list[3:]

[7, 11, 13, 17, 19, 23, 29]

This is known as slicing -- creating a new list from a current list.

In [27]:
new_list = [1 , 2, [3,4,5,6]]

In [29]:
new_list

[1, 2, [3, 4, 5, 6]]

In [31]:
new_list[2][2]

5

Lists have many methods to transform them. The method we'll use most often is .append

In [37]:
new_list.append(-1)

In [38]:
new_list

[1, 2, [3, 4, 5, 6], -1, -1, -1, -1]

Tuples are a special kind of list. The differences between them are technical so we'll just leave it. The syntax to creat a tuple is to use round parentheses.

In [40]:
a_tuple = (1,1.1,1.11,1.111)

In [41]:
print(a_tuple)

(1, 1.1, 1.11, 1.111)

In [42]:
print(a_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

One difference is that tuples are immutable. They can not be changed, whereas lists can.

In [43]:
a_list[1] = 1000

In [44]:
print(a_list)

[2, 1000, 5, 7, 11, 13, 17, 19, 23, 29]

### List Comprehensions

It is very inefficient to create a list manually. For example:

Instead, we use a list comprehension:

In [47]:
numbers = [n for n in range (1,15)]
# this means including 1 but not 15

In [46]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [48]:
squares = [n**2 for n in range (1,101)]

In [50]:
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

### Builtin Functions

There are many standard functions in the [Python library](https://docs.python.org/3/library/functions.html)

Lets compute Euler's famous function:

$$ \frac{\pi^2}{6} = \sum_{k = 1}^{\infty} \frac{1}{k^2} $$

In [54]:
N = 100000
terms = [1/(k**2) for k in range (1,N)]
approx = sum(terms)
print(approx)

1.6449240667982423

In [55]:
(approx*6)**0.5

3.141583104230963